{% extends "base.html" %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<form method="post">
    {% csrf_token %}
<h3>FormSet example</h3>
{{ myformset.management_form }}
<div id="form_set">
    {% for form in myformset.forms %}

        <table class='no_error'>
            <div class="card" style="width: 25rem; padding: 5px 10px 20px 20px; margin: 20px; background-color: #3366CC;">
            {{ form|crispy }}
                </div>
        </table>
    {% endfor %}
</div>
<input type="button" value="Add More" id="add_more">
<div id="empty_form" style="display:none">
    <table class='no_error'>
        <div class="card" style="width: 25rem; padding: 5px 10px 20px 20px; margin: 20px; background-color: #3366CC;">
        {{ myformset.empty_form|crispy }}
        </div>
    </table>
</div>
<button type="submit" class="btn btn-primary">Save</button>
</form>


<script type="text/javascript">
   $('#add_more').click(function() {
	var form_idx = $('#id_form-TOTAL_FORMS').val();
	$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	$('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});
</script>


{% endblock %}
