{% extends "base.html" %}

{% block content %}
{% load static %}
<script type="text/javascript">
   $(document).on('click', '.dropdown-menu', function (e) {
    e.stopPropagation();
});
</script>
<div class="card">
    <div class="card-filter">
            <form method="get">
                <div class="row" style="width: 40%;">
                    <div class="col">
                        <input type="text" class="form-control" name="filter_name" value="{{filter_name}}" placeholder="Фильтр по наз-ю">
                    </div>
                     <div class="col">
                        <select class="form-control" id="sel1" value={{orderby}} name="orderby">
                            <option>+ дата созда-я</option>
                            <option>- дата созда-я</option>
                          </select>
                    </div>

                     <div class="col">
                         <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="finished" value="{{finished}}">
                            <label class="form-check-label" for="exampleCheck1">Фильтр пройденые</label>
                        </div>
                    </div>

                     <div class="col">
                         <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="notfinished" value="{{notfinished}}">
                            <label class="form-check-label" for="exampleCheck1">Не пройдены</label>
                        </div>
                    </div>


                     <div class="col">
                        <button type="submit" class="btn btn-primary">Получить</button>
                    </div>
                </div>

            </form>
    </div>
     <div class="card-body">

     <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название теста</th>
      <th scope="col">Дата создания</th>
        <th scope="col">Пройден</th>
      <th scope="col">Действие</th>
        <th scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody>
  {% for test in object_list %}
    <tr>
      <th scope="row">1</th>
      <td>{{ test.nameTest}}</td>
      <td>{{test.dateQT}}</td>
        <td>{{test.dateQT}}</td>
      <td><a href="{% url 'DetailTest' test.id %}"> Описание</a></td>

        <td><form method="POST" action="{% url "deleteView" test.id %}">
   {% csrf_token %}<input type="submit" value="DELETE">
</form></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

 </div>
</div>

<!--<textarea onclick="this.focus() ; this.select()" style="width: 100%;">-->
    <!--{% filter force_escape %} {% debug %} {% endfilter %}-->
<!--</textarea>-->
{% endblock %}